body {
         font-family: sans-serif;
 }

 #advancedSearchButton {
         background-color:white;
         border: none;
         color: #3d3d3d;
         text-decoration: none;
 }
 #advancedSearchButton:focus {
         border: none;
 }

 #orderLable {
		margin-right:10px;
 }

 #searchButton {
 		margin-left:5px;
 }

 hr {
     border: none;
     height: 5px;
     background-color: #eee;
 }

 table {
         border-collapse: collapse;
         width: 100%;
         border: 1px solid darkgray; 
 }
 th {
         background-color: #dc3545;
         color: white;
         padding: 8px;
         text-align: left;
         border: 1px solid darkgray;
 }
 td {
         padding: 8px;
         text-align: left;
         border: 1px solid darkgray;
 }

 #patientMenu {
	padding-left: 5px;
	padding-right: 5px;
}

#titleHeading {
	color: #dc3545;
	font-size: 26px;
	padding-top: 20px;
}

#numOfPatients {
	color: #3d3d3d;
	font-weight: bold;
}